# Imports

In [19]:
import numpy as np
import pandas as pd
import os

# Read usable data
Read the usables.csv file, and filter out items that are not downloaded, and thus unavailable.

In [20]:
df = pd.read_csv("/Users/balazsmorvay/PycharmProjects/VAE/Data/usables.csv", sep=';')
for i in range(len(df)):
    filename = df.loc[i, 'FILE_ID']
    filepath = os.path.join('/Users/balazsmorvay/Downloads/ABIDE/data/Outputs/ccs/filt_noglobal/func_preproc',
                            f'{filename}_func_preproc.nii.gz')
    df.loc[i, "EXISTS"] = 1 if os.path.exists(filepath) else 0
df = df[df.EXISTS == 1]
df.head()

,FILE_ID,DX_GROUP,DSM_IV_TR,SEX,AGE_AT_SCAN,HANDEDNESS_CATEGORY,SITE_ID,EXISTS
1,Pitt_0050004,1,1,1,19.09,R,PITT,1
2,Pitt_0050005,1,1,2,13.73,R,PITT,1
3,Pitt_0050006,1,1,1,13.37,L,PITT,1
4,Pitt_0050007,1,1,1,17.78,R,PITT,1
5,Pitt_0050008,1,1,1,32.45,R,PITT,1

# Check number of data points in sites

In [21]:
df.drop(df[df.FILE_ID == "UM_1_0050302"].index, inplace=True)

In [22]:
df['SITE_ID'].value_counts()

SITE_ID
NYU         169
UM_1         80
USM          60
UCLA_1       55
YALE         47
TRINITY      44
MAX_MUN      42
PITT         41
KKI          39
STANFORD     33
SDSU         31
UM_2         31
LEUVEN_1     28
LEUVEN_2     26
OLIN         25
SBL          23
OHSU         22
UCLA_2       20
CALTECH      15
CMU           2
Name: count, dtype: int64

# Select the highest, and create train, test and val.csv files

In [23]:
df = df[df.SITE_ID == 'NYU']
train_df = df.sample(frac=0.8,random_state=42)
remaining = df.drop(train_df.index)

In [24]:
train_df.describe()

         DX_GROUP   DSM_IV_TR         SEX  AGE_AT_SCAN  EXISTS
count  135.000000  135.000000  135.000000   135.000000   135.0
mean     1.562963    0.585185    1.222222    15.334667     1.0
std      0.497867    0.776379    0.417288     6.504610     0.0
min      1.000000    0.000000    1.000000     6.470000     1.0
25%      1.000000    0.000000    1.000000    10.675000     1.0
50%      2.000000    0.000000    1.000000    13.720000     1.0
75%      2.000000    1.000000    1.000000    18.860000     1.0
max      2.000000    3.000000    2.000000    39.100000     1.0

In [25]:
remaining.describe()

        DX_GROUP  DSM_IV_TR        SEX  AGE_AT_SCAN  EXISTS
count  34.000000  34.000000  34.000000    34.000000    34.0
mean    1.617647   0.558824   1.147059    15.628618     1.0
std     0.493270   0.785905   0.359491     7.159861     0.0
min     1.000000   0.000000   1.000000     7.130000     1.0
25%     1.000000   0.000000   1.000000    10.332500     1.0
50%     2.000000   0.000000   1.000000    13.381500     1.0
75%     2.000000   1.000000   1.000000    20.197500     1.0
max     2.000000   2.000000   2.000000    31.780000     1.0

In [26]:
train_df.to_csv('/Users/balazsmorvay/PycharmProjects/VAE/Configurations/ABIDE_Video/NYU_train.csv')
remaining.to_csv('/Users/balazsmorvay/PycharmProjects/VAE/Configurations/ABIDE_Video/NYU_test.csv')

# Select the second highest to be the out of distribution test set

In [16]:
um_df = df[df.SITE_ID == 'UM_1']
um_df.head()

,FILE_ID,DX_GROUP,DSM_IV_TR,SEX,AGE_AT_SCAN,HANDEDNESS_CATEGORY,SITE_ID,EXISTS
179,UM_1_0050272,1,1,1,14.2,R,UM_1,1
180,UM_1_0050273,1,1,1,16.8,R,UM_1,1
181,UM_1_0050274,1,1,1,14.2,R,UM_1,1
182,UM_1_0050275,1,1,1,11.5,L,UM_1,1
183,UM_1_0050276,1,1,2,16.8,-9999,UM_1,1

In [17]:
um1_train = um_df.sample(frac=0.8,random_state=42)
remaining = um_df.drop(um1_train.index)

In [18]:
um1_train.to_csv('/Users/balazsmorvay/PycharmProjects/VAE/Configurations/ABIDE_Video/UM1_train.csv')
remaining.to_csv('/Users/balazsmorvay/PycharmProjects/VAE/Configurations/ABIDE_Video/UM1_test.csv')